build*/
.directory
.mailmap
*.orig
*.rej
*~
.hg/
*.kdev*
.DS_Store
CMakeLists.txt.user
*.bak
*.patch
*.diff
*.REMOTE.*
*.BACKUP.*
*.BASE.*
*.LOCAL.*
nbproject/*
.idea/*
.browse.VC*
.vscode

*.c~
obj/
*.pyc
proxy_server/.idea/
proxy_server/threadpool/threadpool
test/crc8c
test/client/test22
test/ss2
DerivedData/*
*.xcodeproj
proxy_server/cert
proxy_server/proxy_server
proxy_server/obj/
*.pem
common/hashtable/hashtable-test
https.cer
test/ss/wowserver
*.lua
test/ss/client/soap-client
proxy_server/sqlite/aidsql-test
test/ss/client/makefile的副本
proxy_server/proxy_server
proxy_server/commands.db
